<button mat-stroked-button [matMenuTriggerFor]="menu">
  <mat-icon>account_circle</mat-icon>
  <span class="margin-left">Аккаунт</span>
  <mat-menu #menu="matMenu">
    <div class="account-menu">
      <mat-icon>account_circle</mat-icon>
      <button mat-raised-button (click)="goAuthPage()" *ngIf="!!!(token$ | async)">Войти</button>
      <button mat-raised-button (click)="onLogOut()" *ngIf="(token$ | async)">Выйти</button>
      <div class="cart flex">
        <button mat-button (click)="goToCart()">
          <mat-icon>local_grocery_store</mat-icon><span>Корзина</span>
        </button>
      </div>
      <div class="favorite flex">
        <button mat-button (click)="goToFavorite()">
          <mat-icon>favorite_border</mat-icon>
          <span>Избранные</span>
        </button>
      </div>
    </div>
  </mat-menu>
</button>
