.contacts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    button {
        display: flex;
        align-items: center;
    }
    img {
        width: 24px;
        padding: 0px 5px 0px 0px;
    }
}