<div class="container">
  <div class="flex-container">
    <span>Sort by:</span>
    <button mat-button (click)="setSortType('rating')">Rating</button>
    <button mat-button (click)="setSortType('price')">Price</button>
    <button
      mat-raised-button
      [disabled]="startPosition === 0"
      (click)="loadPreviosGoods()"
    >
      Предыдущие
    </button>
    <div class="category-page">
      <app-goods-item
        *ngFor="let goodsItem of goods$ | async | sort: currentTypeSort"
        [goodsItem]="goodsItem"
        [disabledCart]="isInCart(goodsItem.id)"
        [disabledFavorite]="isInFavorite(goodsItem.id)"
      ></app-goods-item>
    </div>
    <button mat-raised-button (click)="loadNextGoods()">Следующие</button>
  </div>
</div>
