<div class="goods-item">
    <div class="picture flex">
      <img [src]="goodsItem.imageUrls[0]" alt="" />
    </div>
    <div class="name flex" (click)="onClickGoodsItem(goodsItem)">
      <h3>{{ goodsItem.name }}</h3>
    </div>
    <div class="status flex" *ngIf="goodsItem.availableAmount">
      <mat-icon style="color: gray">check_circle</mat-icon>
      <span style="color: gray">В наличии</span>
    </div>
    <div class="status flex" *ngIf="!goodsItem.availableAmount">
      <mat-icon style="color: gray">schedule</mat-icon>
      <span style="color: gray">На заказ</span>
    </div>
    <div class="price flex">{{ goodsItem.price }},00 р.</div>
    <div class="rating flex">
      <ngb-rating [rate]="goodsItem.rating"></ngb-rating>
    </div>
    <div class="favorites flex">
      <button mat-button color="primary" (click)="onDelete(goodsItem.id)">Удалить</button>
    </div>
  </div>
  