<div class="cart-item">
  <img [src]="cartItem.imageUrls[0]" alt="" />
  <div class="name-and-amount">
    <div class="name">{{ cartItem.name }}</div>
    <div class="amount">
        <button mat-button [disabled]="cartItem.amount === 1">-</button>
        <span> {{ cartItem.amount }} </span>
        <button mat-button>+</button>
    </div>
  </div>
  <div class="control">
    <div class="price">{{ cartItem.price }}р</div>
    <button (click)="onDelete(cartItem.id)">Удалить</button>
  </div>
</div>
