<div class="categories">
    <div class="menu-categories">
        <button
          mat-button
          *ngFor="let category of categories$ | async"
          (mouseenter)="onFocus(category.name)"
          [disabled]="category.name === (currentCategory$ | async)"
        >
          {{ category.name }}
        </button>
      </div>
      <div class="menu-subcategories">
          <h2>{{currentCategory$ | async}}</h2>
          <div class="subcategories">
              <button mat-button *ngFor="let subCategory of subCategories$ | async">{{subCategory.name}}</button>
          </div>
      </div>
</div>