<div class="categories">
  <div class="menu-categories">
    <button
      mat-button
      *ngFor="let category of categories$ | async"
      (mouseenter)="onFocus(category)"
      [disabled]="category.name === currentCategory.name"
    >
      {{ category.name }}
    </button>
  </div>
  <div class="menu-subcategories">
    <h2>{{ currentCategory.name }}</h2>
    <div class="subcategories">
      <button mat-button *ngFor="let subCategory of subCategories$ | async"
      (click)="goToCategory(subCategory.id)">
        {{ subCategory.name }}
      </button>
    </div>
  </div>
</div>
