.navigation {
    padding: 15px 0px 0px 0px;
    img {
        width: 80px;
    }
    .logo {
        margin: 0px 5% 0px 0px;
        &:hover {
            cursor: pointer;
        }
    }
    &-block {
        display: flex;
        align-items: center;
    }
}